#menu{
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 10px;
    border-bottom: 2px;
}

#image-ramen{
    height: 200px;
    width: 200px;
}

form{
    background-color: whitesmoke;
    padding: 60px;
    width:50%;
    margin:20px;
    border-radius:30px;
}

input{
    width:50%;
    padding: 60%;
    
}