#menu{
    display: flex;
    justify-content: center;
    gap:15px;
    padding: 10px;
    border-bottom: 2px;
}

#image-ramen{
    height: 200px;
    width: 200px;
}

form{
    background-color: whitesmoke;
    padding: 60px;
    width:50%;
    margin:20px;
    border-radius:30px;
}

input{
    width:50%;
    padding: 60%;
    margin: 5px;
    border: 5px; ;
    border-radius: 15px;
    background-color: whitesmoke;
       
}

button {
    background-color:black;
    color: red;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    width: 50%;}

 button:hover{
    color: burlywood;
 }
  