*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color:whitesmoke;

}
body{
    padding: 20px;
}

#heading{
    font-family: cursive;
    font-style: oblique;
    font-size: 40px;
    text-align: center;
    top: 1%;
    background-color: #ffcc00;
}

#gamelog{
    background-image:url(../images/ak47ghost.jpeg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

header{
   
    padding: 15%;
    width: 200px

}

nav{
    background-color: gold;
    padding: 15px 0;
    justify-content: end;
    position: absolute;
    top: 15%;
    left: 72%;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}


#evolve{
  padding: 20px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
 
}

#max{
    color: purple;
    font-size: 50px;
    top: 80%;
    left: 20%;
}

nav  ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  
}



a{
    text-decoration: none;
    color: goldenrod;
    font-size: 18px;
    padding: 10px;

}

nav  li a:hover{
    color: purple;
    border-radius: 5px;
}
 



h4{
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 10px;
}

h5{
    font-size: 18px;
    color: #ccc;
}

#gameinventory{
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#gameinventory h2 {
    font-size: 26px;
    color: #ffcc00;
    margin-bottom: 20px;
}

#gamelibrary{
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#gamelibrary h2 {
    font-size: 26px;
    color: #ffcc00;
    margin-bottom: 20px;
}

#single-game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid goldenrod;
    padding: 20px;
    margin-bottom: 2rem;
    width: 300px;
    height: 500px;
    margin: 10px;
    font-size: 24px;
    box-shadow:10px 5px  goldenrod;



} 
#single-game img{
    width: 200px;
    height: 600px;

}

.buy{
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    width: 80px;
    margin-top: 10px;
}

.delete{background-color:purple;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    width: 80px;
    margin-top: 10px;
}

.info{
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    


}

.info img{
    height: 300px;
    width: 300px;
}

.more{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid purple;
    padding: 150px;
    margin-bottom: 2rem;
    width: 250px;
    height: 500px;
    box-shadow: 10px 10px purple;
    margin: 10px;
    font-size: 24px;

}


.more h2{
    font-size: 56px;
    color: black;
}

.more p {
    font-size: 20px;
    color: #ffcc00;

}

h2{
    font-size: 40PX;
    font-style: italic;
    font-family: cursive;
}

#gameForm{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 50%;
    
    
}

#gameForm label{
    font-weight: bold;
    color: #ffcc00;

}
#gameForm input{
    padding: 8px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: black;
    color: white;

}

#gameForm button{
    padding: 10px;
    background-color: #ffcc00;
    border-radius: 15px;
    color: #222;
    font-weight:bold ;
    cursor: pointer;
    border: none;
}

#subscriptionPlans{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#playplus{
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    width: 100%;
    gap: 10px;

}

#footer{
    justify-content: center;
    text-align: center;
    padding-top: 20px;

}
#footer div{
    cursor: pointer;
}