
 nav{
    background-color: gray;
    padding: 20px;
    display: flex;
}
header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
}
nav:hover{color: red;}

 
 
 
 .me{
    background-image: url(../images/Screenshots/myimage.png);
    height:540px;
    font-family: "Montse?rrat", sans-serif;
    padding: 50PX;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-size: 30px;
}
*{background-color:blanchedalmond;}
.box

