@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root{
   --header-font: "Oswald", sans-serif;
   --body-font: "monserat",serif;
   --primary-white: #f5f5f5;
   --tertiary-color: #e31c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: var(--body-font);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
}
a{
    text-decoration: none;

}
.intro{
    background-image: url(../assets/images/hero-section.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    padding: 16px;
    display: flex;
    flex-direction: column;
    


}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-title{
    text-transform: uppercase;
    font-size: 56px;
    color: var(--primary-white);
}

nav{
    background-color: #111;
    padding: 24px;
    display: flex;
}

nav a{
    color: var(--primary-white);
    font-weight: 700;
    padding: 8px 15px;
}

.active, nav a:hover{color:var(--tertiary-color) ;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.hero h3 {
    color:var(--tertiary-color) ;
    font-size: 28px;
    font-weight: 500;
}

.hero h2{
    color: var(--primary-white);
     font-size: 77px;
     font-weight: 700;    
}

.general-link{
    border-width: 2px;
    border-style: solid;
    padding: 16px;
    width: fit-content;
}

.style-white{
    color: var(--primary-white);
    border-color: var(--primary-white);
}

.style-red{
    color:var(--tertiary-color);
    border-color: var(--tertiary-color);
    }
.style-red:hover{color: #111;
    background-color: var(--tertiary-color);
    font-size: 20px;

}    

.style-white:hover{
    color: #111;
    background-color: var(--primary-white);
    font-size: 20px;
}
.call-to-action{
    padding: 16px 48px;
    font-size: 20px;
}

.gains{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: -40px;
}

.gains-card{
    display: flex;
    flex-direction: column;
    color:var(--primary-white) ;
    padding: 48px;
    gap: 16px;
    h3 {
        font-size: 56px;
        font-weight: 700;
        color: var(--primary-white);
        p{line-height: 24px;}
        
    }
    p{
        line-height: 24px;

    }
}





.gains-left{
    background-color:var(--tertiary-color);
    text-align: right;
    
}

.gains-card{
    background-color:var(--tertiary-color);
} 

.gain-right{
    background-color: #111;


}

.experience {
    display: flex;
    padding: 48px 0px;
    gap: 32px;
    width: 85%;
    margin: auto;

}

.experience img{
    height: 540px;
    width: 540px;

}

.experience-work{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}

.experience-work h2{
    font: size 56px;
    color:#343a40;
}
.experience-work div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;

}

.experience-work section{
    display: flex;
    justify-content: space-between;
    gap: 32px;

   > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
   i{font-size: 62px;
    color:var(--tertiary-color);
    
}

h4{
    font-size: 24px;
    color: #343a40;
}
}











.schedule{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    color: var(--tertiary-color);
    font-size:  24px;;
    font-weight: 700;
}

.sub-title{
    color: black;
    font-size: 56px;
    font-weight: 700;


}

.schedule ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;

    li {
        color: var(--tertiary-color);

    }
    .highlighted{background-color: var(--tertiary-color);
     color: var(--primary-white);
    }
}

.schedule table{
    border-collapse: collapse;
    padding: 32px;
    margin: auto;
    width: 85%;
    

    th, td{
        border: 1px solid black;
        padding: 16px;
    
    }
    th , td:first-child{
        background-color: #111;
        color: var(--primary-white);
        padding: 16px;
    }
    td{
        p:first-child{
            font-family:var(--header-font);
            font-weight: 600px;
            color:red;
            font-size: 20px;
        }
    }
}
 


